* {
  margin: 0;
  padding: 0;
}

#cards {
  display: flex;
}
.title{
font-weight: bold;
font-size: 30px;
color:skyblue;
text-align: center;
padding: 25px 0;
}
.film {
  background-color:indigo;
  color: white;
  border-radius: 5px;
  margin: 10px 10px;
  padding: 20px;
  position: relative;
}
.film-title{
margin-bottom: 20px;
}
.film-episode {
margin-bottom: 20px;
}

.film-opening {
margin-bottom: 20px;
}

.film-characters {
  margin-top: 20px;
}
