* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.wrapper {
    min-height: 100vh;
    font-size: 10px;
    background-color: #1fe70c;
    display: flex;
    align-items: center;
}

.find {
    margin: 0 auto;
    max-width: 30rem;
    text-align: center;
    border-radius: 15px;
    background-color:rgb(73, 146, 241);
    color: #333333;
    font-weight: 700;
}

.find__title {
    font-size: 3rem;
    padding: 1rem;
}

#find__btn {
    background: #7c7c7c;
    color: rgb(73, 146, 241);
    box-shadow: 0 0 5px 2px #333333;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    padding: 1rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    transition: transform .3s linear;
    font-weight: 700;
}

#find__btn:hover {
    box-shadow: 0 0 8px 5px #333333;
}

.find__list {
    font-size: 1.2rem;
    text-align: left;
    display: grid;
    gap: .3rem;
    place-content: center;
    margin-bottom: 1rem;
}