.body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.container_of_page {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
}
.wrapper {
  background: url(../images/background_1.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  max-width: 1030px;
  width: 100%;
  margin: 0 auto;
}
.site_header {
  padding-top: 46px;
  display: flex;
  justify-content: space-between;
}
.Milan_logo {
  display: flex;
  position: relative;
}
.Milan_link {
  margin-right: 8px;
}

.Milan_link_orrange {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.Milan_logo:hover .Milan_link_orrange,
.Milan_logo:hover .Milan_text {
  opacity: 1;
  color: #f26522;
}
.Milan_contacts a:first-child:hover {
  color: #f26522;
}
.Milan_contacts a:nth-child(2):hover {
  color: #f26522;
}
.Milan_text {
  display: inline-block;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.flex {
  display: flex;
  flex-direction: column;
}
.site_content {
  margin-top: 17px;
}
.Milan_text:nth-child(1) {
  margin-top: 3px;
  font-size: 29px;
  line-height: 29px;
}

.Milan_text:nth-child(2) {
  font-size: 18px;
  line-height: 18px;
}
.Milan_contacts a {
  text-align: right;
  display: block;
  color: #fff;
}
.Milan_contacts a:first-child {
  margin-bottom: 19px;
}
.album {
  display: grid;
  grid-template-columns: 303px 303px 303px;

  gap: 62px;
}
/* Hovers */
.album_element_img {
  position: relative;
  overflow: hidden;
}
.album_hover {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -30%;
  background-color: #f26522;
  transition: 0.5s linear;
}
.album_element:hover .album_hover {
  left: 0;
  right: 0;
  bottom: 3px;
}
.album_element:hover .album_text {
  color: #f26522;
}
.hover_text {
  margin-left: 16px;
  color: #fff;
}
.hover_text_top {
  padding-top: 7px;
  padding-bottom: 8px;
  font-size: 10px;
  line-height: 10px;
}
.hover_text_bottom {
  margin-left: 16px;
  padding-bottom: 12px;
  font-size: 20px;
  line-height: 20px;
}
/* Pseudoelement > */
.hover_text_left {
  position: relative;
  display: block;
  padding-right: 37px;
  margin-top: 29px;
  font-size: 14px;
  line-height: 14px;
  color: #fff;
}
.hover_text_left::after {
  content: "";
  display: inline-block;
  position: absolute;
  right: 16px;
  bottom: 3px;
  width: 8px;
  height: 8px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg);
}
.album_text {
  transition: 0.4s linear;
  text-align: center;
  color: #fff;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  padding-top: 20px;
}
.site_footer {
  margin-top: 55px;
  text-align: center;
  color: #fff;
  font-weight: normal;
  font-size: 12px;
  padding-bottom: 15px;
}
