*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(0, 0, 0, 0.0001);
}
.upper_nav a:link,.upper_nav a:visited,.upper_nav a:focus,.upper_nav a:hover {
    text-decoration: none;
    color:#FF0000;
    font-weight: bold;
}

.upper_nav{
    width: 100%;
    height: 78px;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    line-height: 18px;
}
.nav_link{
    display: inline-block;
    vertical-align: middle;
    margin: 25px 60px;
}
.picture{
    display: block;
    width:100%;
    object-fit: cover;	
}
.title {
    margin: 48px 0 38px;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    line-height: 26px;
}
.text {
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    text-align: center;
    margin-bottom: 28px;
}
.btn{
    display:block;
    width: 191px;
    height: 51px;
    border: 0;
    border-radius: 4px;
    background-color: #FF0000;
    text-align: center;
    margin: 66px auto 0px;
    text-transform: uppercase;
}
.btn_link {
    text-decoration: none;
    color:#FFFFFF;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
}
.container{
    width: 1145px;
    margin: 0 auto;
}
.footer {

    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.4px;
    font-weight: bold;
    margin-top: 82px;
    margin-right: 105px;
    margin-bottom: 29px;
    text-align: right;
}
