html{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.container{
    max-width: 1900px;
    width: 100%;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background: #313131;
}
.header_logo{
    display: flex;
    align-items: center;
}
.logo_img {
    margin-right: 27px;
    margin-left: 27px;
}
.logo_text{
    color: white;
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
}
.header_menu{
    display: flex;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 20px;
}
.header_menu_item{
    margin-right: 35px;
}
.header_menu_item:nth-child(6){
    margin-right: 0px;
}
.header_menu_link{
    color: white;
}
.header_menu_link:hover{
    color: #14B9D5;
    transition: .5s;
}

.header_search{
    display: flex;
    height: inherit;
    width: 68px;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}
.LatestNews{
    height: 370px;
    background: url(../img/header.jpeg);
    background-position:  0px  -557px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: unset;
    flex-direction: column;
    color: white;
}

.LatestNews_link{
    color: white;
    font-size: 18px;
    line-height: 25px;
    width: 170px;
    height: 55px;
    border-radius: 5px;
}
.LatestNews_link:nth-child(1){
    background-color: #89CA62;
    padding: 16px 19px;
    margin-right: 20px;
}
.LatestNews_link:nth-child(2){
    background-color: #14B9D5;
    padding: 16px 30px;
}

.LatestNews_text{  
    margin-bottom: 60px;
    margin-top: 163px;
    font-size: 27px;
    line-height: 37px;
}
.popularPost{
    height: 1050px;
    background-color: #F2F2F2;
}
/* DOC title общий клас гдя заголовков цвета неба */
.DOC_blue_title{
    text-align: center;
    color: #18B4CF;
    margin-bottom: 52px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 27px;
    line-height: 37px;
    padding-top: 49px;
}
/* MOST POPULAR POSTS album */
.album_container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
.album_flex{
    display: flex;
    flex-flow: column wrap;
    align-items:flex-start;
    height: 850px;
    gap: 30px;
}
.album_item{
    background-color: white;
    text-align: center;
}
.album_item_text{
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.album_item:nth-child(1){
    order: 1;
}
.album_item:nth-child(2){
    order:3;
}
.album_item:nth-child(3){
    order: 5;
}
.album_item:nth-child(4){
    order:2;
}
.album_item:nth-child(5){
    order: 4;
}
.album_item:nth-child(6){
    order:6;
}
/* Section OUR CLIENTS */
.OurClients_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 558px;
    background-image: url(../img/parallax.jpeg);
    background-position: 0px -200px;
}
.OurClients_grid{
    width: 881px;
    margin: 0 auto;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-areas: 
    "area_1 area_1 area_1 area_1"
    "area_2 area_2 area_2 area_2"
    "area_3 area_4 area_5 area_6";
}
.OurClients_text{
    margin-bottom: 67px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    color:white;
    grid-area: area_1;
}

hr {
    margin-bottom: 50px;
    background-color: #18B4CF;
    width: 60px;
    height: 3px;
    border: none;
    grid-area: area_2;
    }

.Sponsors_img_1 {
    grid-area: area_3;
}
.Sponsors_img_2 {
    grid-area: area_4;
}
.Sponsors_img_3 {
    grid-area: area_5;
}
.Sponsors_img_4 {
    grid-area: area_6;
}
/* Section TOP RATED */
.rated_pictures{
    display: grid;
    grid-auto-flow: column;
}
.rated_img {
    width: 100%;
}
.rated, .HotNews {
    background: #fffcff;
}
/* Section HOT NEWS */
.HotNews_grid{
    display: grid;
    max-width: 1176px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 77px;
    row-gap: 44px;
    grid-template-columns: repeat(4, 294px);
    grid-template-rows: 260px 418px 418px 260px;
    grid-template-areas: 
    "News_item_1 News_item_1 News_item_1 News_item_2"
    "News_item_3 News_item_3 News_item_4 News_item_4"
    "News_item_5 News_item_5 News_item_6 News_item_6"
    "News_item_7 News_item_8 News_item_8 News_item_8";
}
.HotNews_item {
    display: flex; 
    background: #F9F7F7;
}
.HotNews_item:nth-child(1){
    grid-area: News_item_1;
    margin-right: 35px;
}
.HotNews_item:nth-child(2){
    flex-direction: column;
    grid-area: News_item_2;
}
.HotNews_item:nth-child(3){
    flex-direction: column;
    margin-right: 30px;
    grid-area: News_item_3;
}
.HotNews_item:nth-child(4){
    flex-direction: column;
    margin-left: 30px;
    grid-area: News_item_4;
}
.HotNews_item:nth-child(5){
    flex-direction: column;
    margin-right: 30px;
    grid-area: News_item_5;
}
.HotNews_item:nth-child(6){
    flex-direction: column;
    margin-left: 30px;
    grid-area: News_item_6;
}
.HotNews_item:nth-child(7){
    flex-direction: column;
    grid-area: News_item_7;
}
.HotNews_item:nth-child(8){
    margin-left: 35px;
    grid-area: News_item_8;
}
/* Падинги в блоках */
.HN_text_block{
    padding: 0 14px 0;
}
.HotNews_header{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
}

.HotNews_header_1, .HotNews_header_2, .HotNews_header_7{
    text-align: center;
}

.HotNews_text{
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
    text-align: right;
}

.HotNews_header_1, .HotNews_header_8{
    padding-top: 41px;
    padding-bottom: 14px;
}

.HotNews_header_3, .HotNews_header_4,
.HotNews_header_5, .HotNews_header_6{
    padding-top: 12px;
    padding-bottom: 15px;
}

.HotNews_header_2, .HotNews_header_7{
    padding-top: 6px;
}
/* Section Footer */
.site_footer{
    background-color: #000000;
    height: 80px;
}

.footer_grid{
    max-width: 1176px;
    width: 100%;
    margin: 0 auto;
    height: 80px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1050px 156px;
    align-items: center;
}

.site_footer_text{
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    color: white;
}

.site_footer_logos{
    margin-right: 30px;
}