.container {
    width: 1280px;
    margin: 0 auto;
}
body{
    font-family: 'Roboto', sans-serif;
}
.header_title{
    font-family: 'Roboto', sans-serif;
    color:black;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 94px;
    padding-top: 63px;
}

.header_span_color{
    color: rgb(41 190 210);
}

.upper_nav{
    margin-top: 38px;
    margin-bottom: 48px;
    background-color: #35444F;
    color:white;
}

.header_menu{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 72px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    list-style-type: none;
}
.header_menu_item {
    border-left: 1px solid white;
    padding: 26px 35px 19px;
}

.header_menu_item:nth-child(4){
    border-right: 1px solid white;
}
.header_menu_item:hover {
    background-color: #222F3A;
}
.header_menu_link{
color: white;
}

.main_content{
    width: 100%;
    display: flex;
}

.sidebar_ul{
display: flex;
flex-flow: column wrap;
justify-content: space-evenly;
width: 345px;
height: 400px;
margin-right: 50px;
border: 1px solid #000000;
}

.side_bar_item{  
    font-size: 27px;
    padding-left: 44px;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #485863;
}
.side_bar_item:hover{
    background-color: #DBDBDB;
    padding-left: 64px;
    color: #000;
}

.side_bar_links{
    color:inherit !important; 
}


.main_content_page{
    width: 885px;
    margin: 0 auto;
}

.main_img_containter{
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 530px;
    vertical-align: middle;
}

.picture{
    width: 320px;
    height: 380px;
}
.picture:hover{
    transform: scale(1.2);
    transition: .4s;
}

.main_text{
    font-size: 18px;
    line-height: 24px;
}

.main_text_p1{
    margin-top: 37px;
}

.main_text_p2{
    margin-top: 34px;
}

.footer_nav{
    font-size: 28px;
    line-height: 28px;
    height: 69px;
    background-color: rgba(99, 105, 110, 0.48);
    margin-top: 54px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer_nav_item:last-child{
    font-size: 24px;
    line-height: 24px;
    margin-left: 82px;
}

.footer_nav_link:hover{
    text-decoration: underline;
    color: #4993be;
}