body {
    background-image: url(../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
}

.header {
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.4);
    padding: 17px 79px;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__logo_text {
    cursor: default;
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    transition: color 0.15s linear;
}
/* Hover for logo */
.header__logo_text:hover {
    color: #01813f;
}
.header__link {
    margin-right: 24px;
    fill: #fff;
    transition: fill 0.15s ease;
}
.header__link:nth-child(3) {
    margin-right: 53px;
}
/* Hover for icon-links */
.header__link:hover {
    fill: #01813f;
}

.header_text {
    cursor: default;
    position: relative;
    font-size: 14px;
    line-height: 14px;
    color: #fff;
}

.header_text_link {
    color: #fff;
    transition: color 0.15s linear;
}
/* Hover for nav text-links */
.header_text_link:hover {
    color: #01813f;
}

.header_text::before {
    position: absolute;
    top: -3px;
    left: -27px;
    content: "";
    display: inline-block;
    height: 19px;
    width: 1px;
    background: rgba(255, 255, 255, 0.9);
    opacity: 0.5;
}
/* Container for form */

.main {
    position: relative;
    height: calc(100vh - 60px);
}
.form_centering {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.form_container {
    position: relative;
    max-width: 444px;
    width: 100%;
    margin: 0 auto;
    /* inside_padding */
    padding: 31px 60px 38px;

    background-color: #fff;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}
.container_frstline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}
.frstline_text {
    font-size: 20px;
    color: #434343;
}
.frstline_text::before {
    left: 0;
    top: 33px;
    position: absolute;
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #3cb878;
}
.frstline_link {
    font-size: 14px;
    color: #3cb878;
    transition: color 0.15s linear, text-decoration 0.15s linear;
}
/* Hover for log in text */
.frstline_link:hover {
    color: #01813f;
    text-decoration: underline;
}
.container_scndline {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}
.btn {
    position: relative;
    display: block;
    width: 158px;
    font-weight: normal;
    font-size: 16px;
    border: none;
    color: white;
    border-radius: 5px;
    transition: background-color 0.1s linear;
}
.bnt--facebook {
    margin-right: 4px;
    padding: 17px 22px 17px 67px;
    background-color: #305db8;
    transition: background-color 0.15s linear;
}
.btn::before {
    position: absolute;
    top: 10px;
    left: 48px;
    content: "";
    width: 1px;
    height: 28px;
    background-color: #0a162f;
    opacity: 0.1;
}
.bnt--google {
    margin-left: 4px;
    padding: 17px 27px 17px 80px;
    background-color: #df4a32;
    transition: background-color 0.15s linear;
}

.bnt--facebook:hover {
    background-color: #022263;
}
.bnt--google:hover {
    background-color: #ab1f09;
}
.svg_picture {
    position: absolute;
    top: 12px;
    left: 15px;
}
.container_thrdline {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 26px;
}
.container_thrdline::before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #f2f2f2;
    top: 10px;
}
.thrdline_text {
    color: #848484;
    margin-top: 0;
    position: absolute;
    background-color: #fff;
    padding: 0 3px;
}
.form {
    display: flex;
    flex-direction: column;
}
.input {
    padding: 16px 0;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #f2f2f2;
    background: #fff;
    outline: none;
}
.input::placeholder {
    color: #bebebe;
    padding: 14px 0px 16px 20px;
    font-family: "Ubuntu";
    font-size: 14px;
}
.input:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
#checkbox {
    display: none;
}
.checkbox_lable::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #f2f2f2;
    margin-right: 10px;
}
#checkbox:checked + .checkbox_lable::before {
    background-image: url(../img/chexbox_enabled.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.checkbox_lable {
    color: #434343;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.submit {
    padding: 16px 0px;
    background: rgba(60, 184, 120, 0.8);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
    font-family: "Ubuntu";
    cursor: pointer;
    transition: background-color 0.1s linear;
}
.submit:hover {
    background-color: #01813f;
}
.Green_text {
    color: #3cb878;
    transition: color 0.15s linear;
}
.Green_text:hover {
    color: #01813f;
    text-decoration: underline;
}
