$primary-color: #4E4E4E;

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav{
  display: flex;
  gap: 68px;
  justify-content: center;
  padding: 45px 0;
  &-item{
    color: &$primary-color;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 1.1px;
  }
  &-item:nth-child(1){
    color: #57A4A4;
  }
}
.recentPosts{
  &__cards{
  display: flex;
}
&__header{
  color: &$primary-color;
  font-weight: bold;
font-size: 16px;
line-height: 22px;
text-transform: uppercase;
margin-bottom: 24px;
margin-top: 66px;
}
}
.post{
  display: flex;
  margin-bottom: 32px;
  &_content{
    padding-left: 21px;
  }
  &-header{
    color:&$primary-color ;
    font-weight: bold;
font-size: 16px;
line-height: 30px;
text-transform: capitalize;
}
&-notice{
  color: #7C7C7C;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 13px;
}
&-text{
  color: #5C5C5C;
  font-size: 14px;
line-height: 26px;
}
}

.post_img{
  width: 160px;
  height: 140px;
}
.adaptive-photo{
  // height: 550px;
  width: 100%;
  height: auto;
  background-image: url(../img/hero.png);
  background-repeat: no-repeat;
  background-size: contain;
}


.humburger{
  &-menu{
    display: none;
    position: relative;
    background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' fill='%23ffffff' enable-background='new 0 0 512 512' height='512' viewBox='0 0 512 512' width='512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m464.883 64.267h-417.766c-25.98 0-47.117 21.136-47.117 47.149 0 25.98 21.137 47.117 47.117 47.117h417.766c25.98 0 47.117-21.137 47.117-47.117 0-26.013-21.137-47.149-47.117-47.149z'/%3E%3Cpath d='m464.883 208.867h-417.766c-25.98 0-47.117 21.136-47.117 47.149 0 25.98 21.137 47.117 47.117 47.117h417.766c25.98 0 47.117-21.137 47.117-47.117 0-26.013-21.137-47.149-47.117-47.149z'/%3E%3Cpath d='m464.883 353.467h-417.766c-25.98 0-47.117 21.137-47.117 47.149 0 25.98 21.137 47.117 47.117 47.117h417.766c25.98 0 47.117-21.137 47.117-47.117 0-26.012-21.137-47.149-47.117-47.149z'/%3E%3C/svg%3E");;
    background-color: transparent;
    background-size: contain;
    width: 30px;
    height: 30px;
    border: none;
    transition: background-image 0.5s;
    &-active{
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In .SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' fill='%23ffffff' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='348.333px' height='348.334px' viewBox='0 0 348.333 348.334' style='enable-background:new 0 0 348.333 348.334;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M336.559,68.611L231.016,174.165l105.543,105.549c15.699,15.705,15.699,41.145,0,56.85 c-7.844,7.844-18.128,11.769-28.407,11.769c-10.296,0-20.581-3.919-28.419-11.769L174.167,231.003L68.609,336.563 c-7.843,7.844-18.128,11.769-28.416,11.769c-10.285,0-20.563-3.919-28.413-11.769c-15.699-15.698-15.699-41.139,0-56.85 l105.54-105.549L11.774,68.611c-15.699-15.699-15.699-41.145,0-56.844c15.696-15.687,41.127-15.687,56.829,0l105.563,105.554 L279.721,11.767c15.705-15.687,41.139-15.687,56.832,0C352.258,27.466,352.258,52.912,336.559,68.611z'/%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
}
&::after{
  content: "";
  width: 44px;
  height: 37px;
  background-color: #000;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
transform: translate(-50%, -50%);
}
  }
}
.footer{
  color: #B9B9B9;
  font-size: 16px;
line-height: 28px;
  text-align: center;
  background-color: #000;
&-header{
  padding-top: 66px;
  color: #FEFEFE;
  text-transform: uppercase;
  font-weight: bold;
font-size: 16px;
line-height: 22px;
}
&-text-inline{
  display: inline;
}
&-text{
  padding-top: 22px;
  max-width: 684px;
}
&-icons{
  padding-top: 37px;
}
&-inline{
  padding-top: 34px;
  padding-bottom: 70px;
}
&-flex{
  display: flex;
  flex-direction: column;
  align-items: center;
}
}

