@media (min-width:768px) and (max-width:1199px){
    .recentPosts{
        &__header{
            margin-top: 55px;
        }
    &__cards{
        flex-direction: column;
    }
}
.post-last{
    margin-bottom: 60px;
}
.nav{
    gap: 34px;
}
.footer{
  &-header{
    padding-top: 57px;
  }
  &-text{
    padding-top: 22px;
  }
  &-icons{
    padding-top: 37px;
  }
  &-inline{
    padding-top: 34px;
    padding-bottom: 56px;
  }
  }
  .no-text{
      display: none;
  }
}



@media (max-width:767px){
    .recentPosts{
        &__header{
            margin-top: 38px;
        }
    &__cards{
        flex-direction: column;
    }
}
    .post{
        flex-direction: column;
        margin-bottom: 15px;
    &-text{
        display: none;
    }
    &_content{
        padding-left: 0;
    }
    &-header{
        padding-top: 10px;
    }
    &-last{
        display: none;
    }
    &-newLast{
        margin-bottom: 25px;
    }
}
    .nav{
        gap: 0;
        padding: 0;
    }
    .menu{
    position: absolute;
    justify-content: flex-start;
    top: -300px;
    background-color: #F5F5F5;
    z-index: 666;
    padding-top: 4px;
    transition: top 0.5s;
    &-list{
      flex-direction: column;
      &__link{
        font-size: 26px;
line-height: 26px;
font-weight: normal;
      }
      &__item{
        margin-bottom: 1px;
        padding-right: 55px;
        padding-left: 12px;
        &:hover{
            background-color: #E5E5E5;
        }
      }
    }
    &-active{
      top: 64px;
    }}
  .humburger{
    &-menu{
      display: block;
      position:relative;
      right: 7px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
}
    .header__wrapper{
        display: flex;
        justify-content: flex-end;
    }

    .footer{
        font-size: 12px;
      line-height: 20px;
      &-header{
        padding-top: 38px;
      font-size: 14px;
      line-height: 22px;
      }
      &-text-inline{
        display: block;
      }
      &-text{
          max-width: 70%;
        padding-top: 8px;
      }
      &-icons{
        padding-top: 26px;
      }
      &-inline{
        padding-top: 25px;
        padding-bottom: 47px;
      }
      }
      .no-text{
          display: none;
      }
}