body {
    background-color: #0e0e0e;
    font-family: sans-serif;
    font-size: 4vw;
    line-height: 1.5;
    font-weight: bold;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.wrapper {
    display: flex;
    perspective: 400px;
    perspective-origin: middle;
    width: 60%;
    height: 100%;
    margin: 0 auto;
}
.text_container {
    margin-top: 500px;
    color:gold;
    position: relative;
    /* transform: rotateX(25deg); */
    animation: moving_text 30s ease-in infinite;
}
.title_text,
.text {
    /* font-weight: bold;
    font-size: 50px; */
    text-align: center;
    margin-bottom: 50px;
}

.text--one {
    text-align: left;
}
.text--two {
    text-align: justify;
}
@keyframes moving_text {
    0% {
        top: 0;
        transform: rotateX(15deg) translateZ(0);
    }
    100% {
        top: -6000px;
        transform: rotateX(12deg) translateZ(-1500px);
    }
}
