* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}



body {
  font-family: "Open Sans", sans-serif;
  background-color: #e5e5e5;
  /* position: relative; */
}

/* HEADER-upper */
.header-upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #313131;
  width: 100%;
}

.btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn {
  background-color: transparent;
  border: 2px solid #18b4cf;
  border-radius: 9px;
  color: #18b4cf;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 12px 28px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.btn:hover {
  color: #fff;
  outline: 0;
}


.first {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.first:hover {
  box-shadow: 0 0 40px 40px rgb(49, 49, 49) inset;
}

/* HEADER-logo  */

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  padding: 22px 27px;
}

.logo-name {
  font-size: 22px;
  line-height: 30px;
  font-weight: 700;
  color: #fff;
}

/*  HEADER-nav */

.nav-link {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #fff;
  margin-left: 35px;
}

.nav-link:hover {
  color: #14b9d5;
  transition: 0.9s;
}

.search {
  background-color: black;
  /* padding: 26px; */
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search img {
  background-color: black;
  padding: 26px;
}

/* HEADER-bottom */

.header-bottom {
  background-image: url(../img/header-bg.jpeg);
  padding: 115px 0px;
  background-size: cover;
  background-position: 0px -430px;
  background-repeat: no-repeat;
  text-align: center;
}

.header-bottom-title {
  font-size: 27px;
  line-height: 37px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 44px;
}

.header-bottom-link {
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  margin-left: 20px;
}

.link-f {
  background-color: #89ca62;
  padding: 16px 19px;
  border-radius: 5px;
}

.link-s {
  background-color: #14b9d5;
  padding: 16px 30px;
  border-radius: 5px;
}

/*  SECTION POSTS */

/* общий класс для повторяющихся заголовков */
.DA-title {
  text-transform: uppercase;
  text-align: center;
  color: #18b4cf;
  font-size: 27px;
  line-height: 37px;
  font-weight: bold;
  padding-top: 49px;
  padding-bottom: 52px;
}

.post-img-wrap {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 72px;
}

.img-description {
  background-color: #fff;
  text-align: center;
  padding: 20px 15px;
  color: #353a3d;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  margin-bottom: 30px;
}

/* SECTION CLIENTS */
.clients {
  position: relative;
  background-image: url(../img/parallax-bg.jpeg);
  padding: 150px 438px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  text-align: center;
  width: 100%;
  background-color: #f9f7f7;
}

.clients-title {
  text-transform: uppercase;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin-bottom: 196px;
}

.blue-line {
  position: absolute;
  top: 50%;
  left: 47%;
  width: 64px;
  height: 3px;
  background-color: #14b9d5;
}

.clients-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 240px;
  padding-bottom: 50px;
}

.clients-img {
  margin-right: 58px;
}

/* SECTION TOP RATED */

.top-rated {
  background-color: #fff;
}

.top-rated-img-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.top-rated-img-box img {
  width: 100%;
}

/* HOT NEWS SECTION */
.hot-news {
  background-color: #fff;
  padding-bottom: 71px;
}

.hot-news-grid {
  display: grid;
  grid-template-columns: repeat(4, 277px);
  grid-template-rows: 260px 418px 418px 260px;
  max-width: 1168px;
  /* width: 100%; */
  margin: 0 auto;
  row-gap: 50px;
  grid-template-areas:
    "hot-news_1 hot-news_1 hot-news_1  hot-news_2"
    "hot-news_3 hot-news_3 hot-news_4 hot-news_4"
    "hot-news_5 hot-news_5 hot-news_6 hot-news_6"
    "hot-news_7 hot-news_8 hot-news_8 hot-news_8";
}

.hot-news_item1 {
  grid-area: hot-news_1;
  display: flex;
  align-items: center;
  text-align: center;
  margin-right: 30px;
}

.hot-news_item2 {
  grid-area: hot-news_2;
  display: flex;
  flex-direction: column;
}

.hot-news_item3 {
  margin-right: 30px;
  grid-area: hot-news_3;
  display: flex;
  flex-direction: column;
}

.hot-news_item4 {
  grid-area: hot-news_4;
}

/* HOT NEWS SECTION */
.hot-news {
  background-color: #fff;
  padding-bottom: 71px;
}

.hot-news-grid {
  display: grid;
  grid-template-columns: repeat(4, 277px);
  grid-template-rows: 260px 418px 418px 260px;
  max-width: 1168px;
  /* width: 100%; */
  margin: 0 auto;
  row-gap: 50px;
  grid-template-areas:
    "hot-news_1 hot-news_1 hot-news_1  hot-news_2"
    "hot-news_3 hot-news_3 hot-news_4 hot-news_4"
    "hot-news_5 hot-news_5 hot-news_6 hot-news_6"
    "hot-news_7 hot-news_8 hot-news_8 hot-news_8";
}

.hot-news_item1 {
  grid-area: hot-news_1;
  display: flex;
  align-items: center;
  text-align: center;
  margin-right: 30px;
}

.hot-news_item2 {
  grid-area: hot-news_2;
  display: flex;
  flex-direction: column;
}

.hot-news_item3 {
  margin-right: 30px;
  grid-area: hot-news_3;
  display: flex;
  flex-direction: column;
}

.hot-news_item4 {
  grid-area: hot-news_4;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.hot-news_item5 {
  grid-area: hot-news_5;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.hot-news_item6 {
  grid-area: hot-news_6;
}

.hot-news_item5 {
  grid-area: hot-news_5;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.hot-news_item6 {
  grid-area: hot-news_6;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.hot-news_item7 {
  grid-area: hot-news_7;
  display: flex;
  flex-direction: column;
}

.hot-news_item8 {
  grid-area: hot-news_8;
}

.hot-news_item7 {
  grid-area: hot-news_7;
  display: flex;
  flex-direction: column;
}

.hot-news_item8 {
  grid-area: hot-news_8;
  display: flex;
  margin-left: 35px;
}

.bg-color {
  background-color: #f9f7f7;
}

.item-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
  margin-bottom: 15px;
  text-align: center;
  margin-top: 14px;
}

.item-title_1 {
  text-align: center;
  margin-top: 14px;
}

.item-title_1 {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
  padding-top: 41px;
  padding-bottom: 15px;
  /* text-align: right; */
}

.item-title_right {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
  margin-bottom: 15px;

  text-align: right;
  padding-right: 27px;
  margin-top: 14px;
}

.item-description {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: right;
  padding: 0 14px;
  color: #5b6469;
}

.item-description_1 {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  padding-left: 10px;
  padding-right: 25px;
  padding-bottom: 41px;
  color: #5b6469;
  text-align: right;
}

.item-title_2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}

.item-description_2 {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  padding-left: 10px;
  padding-right: 25px;
  padding-bottom: 41px;
  color: #5b6469;
  text-align: right;
}

.footer {
  background-color: #000;
  height: 80px;
}

.footer-copy {
  color: #fff;
  font-size: 13px;
}

.footer-grid {
  max-width: 1176px;
  width: 100%;
  margin: 0 auto;
  height: 80px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1050px 156px;
  align-items: center;
}

.scrollUp {
  position: fixed;
  bottom: 90px;
  right: 25px;
  width: 50px;
  height: 50px;
  z-index: 10;
  display: none;

}

.scrollUp:hover {
  cursor: pointer;

}