body {
    min-width: 1200px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    /* background-color: gray; */
}

.container {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
}

.header {
    background: url(../img/Sections_background/section_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}

.header-grey-backhground {
    height: 120px;
    padding-top: 26px;
    padding-bottom: 26px;
    background-color: rgba(94, 93, 88, 0.6);
}


.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo-hexagon {
    position: relative;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
    background: #18CFAB;
    ;
    height: 67px;
    width: 58px;
    margin-right: 6px;
}

.logo-hexagon-inside {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 40px;
    line-height: 31px;
    color: #fff;
}

.logo-text {
    color: #fff;
    font-size: 32px;
    font-weight: 400;
}

.green-bold-text {
    font-weight: 700;
    color: #18CFAB;
}

.site-logo {
    display: flex;
    align-items: center;
}

.header_menu {
    text-transform: uppercase;
    display: flex;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.svg {
    width: 21px;
    height: 20px;
    fill: #FFFFFF99;
    transition: fill .15s linear;
}

.svg:hover {
    fill: #18CFAB;
}

.header_menu_item {
    margin-right: 21px;
}

.header_menu_item:last-child {
    margin-right: 0px;
}

.header_menu_link {
    position: relative;
    color: #FFFFFF99;
    transition: color .15s linear;
}

.header_menu_link:hover {
    color: #18CFAB;

}

.header_menu_link:hover::after {
    content: " ";
    border-bottom: 2px solid #18CFAB;
    display: block;
    position: absolute;
    top: 69.5px;
    height: 2px;
    width: 100%;
}

.hero {
    margin-top: 264px;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: unset;
    flex-direction: column;
    color: #fff;

}

.hero_main_text {
    text-align: center;
    font-size: 35px;
    line-height: 70px;
    text-transform: uppercase;
    font-weight: 700;
}

.hero_text {
    text-align: center;
    font-size: 78px;
    text-transform: uppercase;
    font-weight: 700;
}

.hero_subtext {
    color: #FFFFFF99;
    text-align: center;
    font-size: 35px;
    line-height: 70px;
    text-transform: capitalize;
    font-weight: 400;
    margin-bottom: 129px;
}


.hero_link {
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    line-height: 32px;
    width: 170px;
    height: 55px;
    border-radius: 5px;
    background-color: #18CFAB;
    padding: 16px 18px;
    border-top: 5px solid #fff;
}


.hero_link:nth-child(2) {
    background-color: #00CBF6;
    margin-left: 26px;
    padding: 16px 12px;
    border-top: 5px solid #fff;
}

.adv_blocks {
    display: flex;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    border-top: 8px solid #fff;
    margin-bottom: 83px;
}

.adv_block {
    width: 25%;
    height: 377px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.adv_block:nth-child(odd) .svg_in_block {
    margin-bottom: 47px;
}

.adv_block:nth-child(even) .svg_in_block {
    margin-bottom: 58px;
}

.adv_block:nth-child(odd) {
    background-color: #1C2A33;
    color: #18CFAB;
}

.adv_block:nth-child(even) {
    background-color: #18CFAB;
    color: #fff;
}

.services {
    margin-bottom: 91px;
}

/*SITE HEADERS BLOCK*/
.doc_header {
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    position: relative;
    text-align: center;
    height: 100px;
    margin-bottom: 25px;
}

.doc_header::after {
    position: absolute;
    top: 55px;
    left: 46%;
    content: " ";
    border-bottom: 1px solid #18CFAB;
    display: block;
    height: 4px;
    width: 78px;
}

.doc_header::before {
    position: absolute;
    top: 60px;
    /*5 px разници тут больше*/
    left: 47%;
    content: " ";
    border-bottom: 1px solid #18CFAB;
    display: block;
    height: 4px;
    width: 78px;
}

/*redag*/
ul {
    list-style: none;
}

.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs {
    display: flex;
    width: 100%;
    margin-bottom: 24px;
}

.tabs-title {
    font-size: 16px;
    line-height: 39px;
    padding-top: 17px;
    padding-bottom: 17px;
    text-align: center;
    width: 16.6%;
    background-color: #F8FCFE;
    color: #717171;
    border: 1px solid #EDEFEF;
    text-transform: capitalize;
    cursor: pointer;
}

.services_photo {
    margin-right: 15px;
}

.tabs-title.active {
    position: relative;
    background-color: #18CFAB;
    color: #fff;
}

.tabs-title.active::after {
    content: " ";
    position: absolute;
    background-color: #18CFAB;
    display: block;
    top: 89%;
    left: 44%;
    transform: rotateZ(45deg);
    height: 15px;
    width: 15px;
}

.tabs-title:hover {
    border: 1.5px solid #18CFAB;
}

.tabs-content-item {
    display: none;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #777777;

}

.tabs-content-item.active {
    display: block;
    display: flex;
    color: #777777;
}

.purchase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 476px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../img/Sections_background/section-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.purchase_h2 {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: #18CFAB;
    margin-bottom: 12px;
}

.purchase_h3 {
    font-size: 16px;
    font-weight: 400;
    color: #D8D8D8;
    margin-bottom: 83px;
}

.purchase_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: unset;
}

.purchase_link {
    padding: 10px 18px;
}

.news {
    margin-top: 82px;
}

.news_header {
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    position: relative;
    text-align: center;
    height: 100px;
    margin-bottom: 25px;
}

.news_header::after {
    position: absolute;
    top: 55px;
    left: 47.5%;
    content: " ";
    border-bottom: 1px solid #18CFAB;
    display: block;
    height: 4px;
    width: 78px;
}

.news_header::before {
    position: absolute;
    top: 60px;
    /*5 px разници тут больше*/
    left: 48.5%;
    content: " ";
    border-bottom: 1px solid #18CFAB;
    display: block;
    height: 4px;
    width: 78px;
}

.cards {
    display: grid;
    gap: 45px 33px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 130px;
}

.card {
    position: relative;
    background-color: #F8FCFE;
    border: 1px solid #F2F4F5;
}

.card:hover .absolute {
    background-color: #18CFAB;
}

.card-title {
    transition: color .15s linear;
    font-weight: 700;
    font-size: 18px;
    line-height: 39px;
    color: #717171;
    padding-left: 15px;
}

.card:hover .card-title {
    color: #18CFAB;
}

.card-footer {
    display: flex;
    font-size: 14px;
    font-weight: 300;
    line-height: 39px;
    text-align: center;
    color: #777777;
    margin-left: 17px;
}

.card_text {
    position: relative;
    margin-right: 34px;
}

.card_text::after {
    position: absolute;
    top: 14px;
    left: 82px;
    content: "";
    display: block;
    height: 12px;
    width: 1px;
    background-color: #777777;
}

.absolute {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 70px;
    height: 68px;
    font-size: 16px;
    line-height: 25px;
    background-color: #203E38;
    color: #fff;
    transition: background-color .15s linear;
}

.amazing_work {
    background-color: #E9EDEF;
    padding-top: 96px;
    padding-bottom: 82px;
}

/* adas */
.amazing_header {
    margin-bottom: 30px;
}



.amazing_tabs {
    display: flex;
    justify-content: center;
    padding-bottom: 71px;
    font-size: 14px;
}

.amazing-tabs-title {
    padding: 20px;
    color: #717171;
    border: 1px solid #DADADA;
    cursor: pointer;
}

.amazing-tabs-title:first-child {
    padding: 20px 27px;
}

.amazing-tabs-title.active {
    color: #18CFAB;
    border: 2px solid #18CFAB;
}


.amazing-tabs-content-item {
    /* display: none; */
}

.amazing-tabs-content-item.active {
    display: block;
}

.all_images {
    display: flex;
    flex-wrap: wrap;
}

.all_images_item {
    position: relative;
}

.all_hover_content {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
}

.all_hover_content:hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #18CFAB;
    background-color: #E9EDEF;
    opacity: 1;
}

.all_hover_content svg {
    margin-bottom: 24px;
}

.all_hover__title {
    color: #18CFAB;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 25px;
}

.all_hover_text {
    color: #8A8A8A;
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    text-transform: capitalize;
}

.amazing-tabs-content-item {
    display: none;
}

.amazing-tabs-content-item.active {
    display: block;
}

/* ddasdsad */
.load_btn {
    cursor: pointer;
    display: inherit;
    text-align: center;
    margin-top: 70px;
    width: 168px;
    height: 63px;
    background-color: #18CFAB;
    border: none;
    border-radius: 5%;
}

.load_btn svg {
    margin-left: 7px;
}

.load_btn_text {
    padding-left: 13px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 42px;
}

/* Slider */






.slideshow-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.slider {
    padding: 100px 0px;
    height: 903px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../img/Sections_background/section-3.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.slider_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-color-white {
    color: #fff;
}

.quote {
    margin-bottom: 36px;
}

.person-descr {
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #bbb;
    text-align: center;
    margin-bottom: 37px;
}

.person {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.name {
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #18cfab;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.job_position {
    font-weight: 300;
    font-size: 14px;
    line-height: 30px;
    color: #bbb;
    margin-bottom: 38px;
}

.person_pic_box {
    width: 166px;
    height: 166px;
    background-color: #18cfab;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.person_pic {
    vertical-align: middle;
    width: 143px;
    height: 144px;
    border-radius: 50%;
}

.active_person .person_pic_box {
    border: 3px solid #18cfab;
    border-radius: 50%;
}

.active_person.person_small_block {
    border: 4px solid #18cfab;
    border-radius: 50%;
    transition: 0.5s;
    box-shadow: 0 19px 38px rgba(24, 207, 171, 0.2),
        0 13px 10px rgba(0, 0, 0, 0.22);
}

.carousel-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 57px;
}

.left-cursor {
    width: 31px;
    height: 31px;
    border: 1px solid #bbb;
    position: relative;
    cursor: pointer;
}

.fa-chevron-left {
    width: 14px;
    height: 14px;
    position: absolute;
    left: 7px;
    top: 14px;
    color: #bbb;
}

.fa-chevron-right {
    width: 14px;
    height: 14px;
    position: absolute;
    left: 8px;
    top: 14px;
    color: #bbb;
}

.left-cursor:hover .fas {
    color: #fff;
}

.left-cursor:hover {
    background-color: #18cfab;
    border: none;
}

.right-cursor:hover .fas {
    color: #fff;
}

.right-cursor:hover {
    background-color: #18cfab;
    border: none;
}

.right-cursor {
    width: 31px;
    height: 31px;
    border: 1px solid #bbb;
    position: relative;
    cursor: pointer;
}

.small_img_wrap {
    display: flex;
    margin-left: 35px;
}

.person_small_block {
    width: 64px;
    height: 64px;
    background-color: #18cfab;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 38px;
    cursor: pointer;
}

.person_small_img {
    border-radius: 50%;
    vertical-align: middle;
    width: 60px;
    height: 60px;
}

.person_small_block:hover {
    border: 3px solid #18cfab;
    border-radius: 50%;
}

.person_item {
    display: none;
}

.active_person {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.slider__nav-btn_active {
    background: #444;
    border-color: #000;
    color: #fff;
}


/* FOOTER */
.footer {
    height: 121px;
    background-color: #22353F;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
}

.footer-span {
    font-weight: 300;
}